<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>flurry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFB1FEF81D094627001BED4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFB1FF111D094628001BED4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFB1FF1C1D094628001BED4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
